@model ICollection<ClienteViewModel>

@{
    ViewData["Title"] = "Cadastro Clientes";
}

<h1>Cadastro de Clientes</h1>
<p>Lista de clientes para delivery</p>

<p>
    @Html.ActionLink("Novo", "NovoCliente")
</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Telefone</th>
      <th scope="col">Bairro</th>
      <th scope="col">Cidade/UF</th>
    </tr>
  </thead>
  <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
              <th scope="row">@Html.DisplayFor(m => cliente.Codigo)</th>
              <td>@Html.DisplayFor(m => cliente.Nome)</td>
              <td>@Html.DisplayFor(m => cliente.Telefone)</td>
              <td>@Html.DisplayFor(m => cliente.Bairro)</td>
              <td>@Html.DisplayFor(m => cliente.Localidade)</td>
            </tr>
        }
  </tbody>
</table>